<h1>Cập nhật sản phẩm</h1>
<form [formGroup]="productForm" (ngSubmit)="updateProduct(id)">
  <table>
    <tr>
      <td>Id: </td>
      <td><input type="number" min="1" formControlName="id"></td>
    </tr>
    <tr>
      <td>Name: </td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Price: </td>
      <td><input type="number" min="1000" formControlName="price"></td>
    </tr>
    <tr>
      <td>Description: </td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td></td>
      <td><button class="btn btn-primary">Update</button></td>
    </tr>
  </table>
</form>
